@import "../../../../styles/mixins";

.link {
    width: 200px;
    height: 70px;
    padding: 5px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    @include centred-flex;

    p {
        font-size: 30px;
        font-weight: bold;
    }

    div {
        width: 100%;
        height: 100%;
        @include centred-flex;
        gap: 10px;
    }

    img {
        width: 40px;
    }
}

