@import "../../../../styles/mixins";
@import "../../../../styles/palette";

.container {
    width: 60px;
    height: 60px;

    div {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px solid $white;
        position: relative;
        box-sizing: border-box;
        @include centred-flex;
        justify-content: flex-start;
        animation: rotating 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        padding: 5px;
    }

    div::after {
        content: "";
        width: 25px;
        height: 5px;
        background-color: $white;
        border-radius: 2px;
    }
}

@keyframes rotating {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}