@import "../../../../styles/mixins";

.container { 
    width: 220px;
    height: 100px;
    @include centred-flex;
    gap: 15px;
    padding: 5px;

    p {
        font-size: 40px;
        font-weight: bold;
    }
}